body{
        background-color: rgb(61, 155, 155);

}
input{
    background-color: rgb(215, 222, 224);
    margin-top: 3%;
    height: 2rem;
    opacity: 0.9;
    color: rgb(20, 16, 16);
    border: 1px solid rgb(22, 21, 21);
}
button{
    border: rgb(26, 20, 20);
    height: 2rem;
    width: 6rem;
    color: rgb(226, 221, 221);
    border-radius: 10%;
    background-color: rgb(4, 30, 59);
    cursor: pointer;
}
#results{
    color: rgb(15, 14, 14);
    font-size: 18px;
    line-height: 1.6;
    padding: 10px 15px;
    width: fit-content;
}
